
.comment-container,.add-comment-container {
    display: flex;
    flex-direction: column;
    direction:rtl;
    width: 30%;
   
}
.comment-header,.add-comment-header{
    width:60px;
    display:inline-block;
    padding:5px 0;
    background-color:lightgray;
    text-align:center;
}

.comment-form {
    display: flex;
    flex-direction: column;
}
.comment-btn{
    width:100px;
    border:none;
    padding:5px 0;
    text-align:center;
    background-color:rgb(32, 32, 75);
    color:white;
    border-radius:3px;

}

.add-comment{
    margin-top:15px;
    display:flex;
    flex-direction:column;
    border:1px solid rgb(204, 200, 200);
    width:30%;
    background-color:beige;
}

.add-comment-title{
    display:flex;
    flex-direction:row;
   border:1px solid rgb(204, 200, 200);
   
   border-top:none;
    padding:7px 0;

    
}
.add-comment-name{
    margin-left:10px;
}
.add-comment-hour{
    margin-left:10px;
}
