                	        <!--  ==========  -->
                            <!--  = Single Product =  -->
                            <!--  ==========  -->
                    	    <div class="span3 filter--blazers" data-price="1567" data-popularity="2" data-size="xs|s|m|xl" data-color="pink" data-brand="adidas">
                    	        <div class="product">
                    	             
                	                    <div class="stamp red">تمام شد</div>
            	                     
                    	            <div class="product-img">
                    	                <div class="picture">
                    	                    <img width="540" height="374" alt="" [src]="domainName+'/images/product/'+product.productImage" />
                    	                    <div class="img-overlay">
                    	                        <a class="btn more btn-primary" [routerLink]="['/product-details/'+product.id]">توضیحات بیشتر</a>
                    	                        <a class="btn buy btn-danger" href="#" (click)="addToCart(product.id)">اضافه به سبد خرید</a>
                    	                    </div>
                    	                </div>
                    	            </div>
                    	            <div class="main-titles no-margin">
                    	                <h4 class="title">{{product.price}}</h4>
                    	                <h5 class="no-margin isotope--title">{{product.shortDescription}} Ut</h5>
                    	            </div>
                    	            <p class="center-align stars">
                    	                <span class="icon-star stars-clr"></span>
                    	                <span class="icon-star stars-clr"></span>
                    	                <span class="icon-star"></span>
                    	                <span class="icon-star"></span>
                    	                <span class="icon-star"></span>
                    	                 
                    	            </p>
                    	        </div>
                    	    </div> <!-- /single product -->