*{
    direction:rtl
}
.paging{
display:flex;
flex-direction:row;
justify-content:center;
align-content:center;
margin-bottom:10px;
}
.paging ul{
    list-style-type:none;
    padding:0;
    margin:0
}
.paging ul li a{
text-decoration:none;
padding:15px;
color:rgba(34, 34, 36, 0.889);
text-align:center;
font-size:25px;
display:inline-block;
border:1px solid black;
cursor:pointer;
}
a:not(:last-child){
    border-right:none
}
.paging ul li{
    float:left;
}
.paging ul li a:hover{
    background-color:rgb(227, 225, 223)
}