







    <div class="container">
        <div class="push-up top-equal blocks-spacer-last">
            <div class="row">

                <!--  ==========  -->
                <!--  = Main Title =  -->
                <!--  ==========  -->

                <div class="span12">
                    <div class="title-area">
                        <h1 class="inline"><span class="light">ثبت نام کنید </span> </h1>
                    </div>
                </div>

                <!--  ==========  -->
                <!--  = Main content =  -->
                <!--  ==========  -->
                <section class="span8 single single-page">

                    <section class="contact-form-container">



                        <form id="commentform" class="form form-inline form-contact" (submit)="submitRegisterForm()"
                            [formGroup]="registerForm">
                            <p class="push-down-20">
                                <label for="author">نام<span class="red-clr bold">*</span></label>
                                <input type="text" aria-required="true" tabindex="1" size="30" value="" id="author"
                                    name="author" formControlName="firstName" required>
                                
                            </p>
                            <p class="text-danger"
                                *ngIf="registerForm.controls['firstName'].touched && registerForm.controls['firstName'].errors?.['required']">
                                لطفا فیلد را پر کنید
                            </p>
                            <p class="text-danger"
                                *ngIf="registerForm.controls['firstName'].touched && registerForm.controls['firstName'].errors?.['maxLength']">
                                طول کلمه خیلی زیاد است
                            </p>

                            <p class="push-down-20">
                                <label for="author">نام خانوادگی<span class="red-clr bold">*</span></label>
                                <input type="text" aria-required="true" tabindex="1" size="30" value="" id="author"
                                    name="author" formControlName="lastName" required>
                                
                            </p>

                            <p class="text-danger"
                                *ngIf="registerForm.controls['lastName'].touched && registerForm.controls['lastName'].errors?.['required']">
                                لطفا فیلد را پر کنید
                            </p>
                            <p class="text-danger"
                                *ngIf="registerForm.controls['lastName'].touched && registerForm.controls['lastName'].errors?.['maxLength']">
                                طول کلمه خیلی زیاد است
                            </p>



                            <p class="push-down-20">
                                <label for="email">ایمیل<span class="red-clr bold">*</span></label>
                                <input type="email" aria-required="true" tabindex="2" size="30" value="" id="email"
                                    name="email" formControlName="email" required>
                                
                            </p>
                            <p class="text-danger"
                                *ngIf="registerForm.controls['email'].touched && registerForm.controls['email'].errors?.['required']">
                                لطفا فیلد را پر کنید
                            </p>
                            <p class="text-danger"
                                *ngIf="registerForm.controls['email'].touched && registerForm.controls['email'].errors?.['maxLength']">
                                طول کلمه خیلی زیاد است
                            </p>
                            <p class="text-danger"
                                *ngIf="registerForm.controls['email'].touched && registerForm.controls['email'].errors?.['email']">
                                ایمیل را با فرمت مناسب پر کنید
                            </p>


                            <p class="push-down-20">
                                <label for="url">کلمه عبور </label>
                                <input type="password" tabindex="3" size="30" value="" id="url" name="url"
                                    formControlName="password">
                               
                            </p>


                            <p class="text-danger"
                            *ngIf="registerForm.controls['password'].touched && registerForm.controls['password'].errors?.['maxLength']">
                            طول کلمه خیلی زیاد است
                        </p>
                        <p class="text-danger"
                            *ngIf="registerForm.controls['password'].touched && registerForm.controls['password'].errors?.['required']">
                           لطفا کلمه عبور را وارد کنید
                        </p>

                            <p class="push-down-20">
                                <label for="url"> تکرار کلمه عبور</label>
                                <input type="password" tabindex="3" size="30" value="" id="url" name="url"
                                    formControlName="confirmPassword">
                              
                            </p>

                            <p class="text-danger"
                            *ngIf="registerForm.controls['confirmPassword'].touched && registerForm.controls['confirmPassword'].errors?.['maxLength']">
                            طول کلمه خیلی زیاد است
                        </p>
                        <p class="text-danger"
                            *ngIf="registerForm.controls['confirmPassword'].touched && registerForm.controls['confirmPassword'].errors?.['required']">
                            لطفا تکرار کلمه عبور را وارد کنید                      
                          </p>




                            <p class="push-down-20">
                                <label for="demo">آدرس<span class="red-clr bold">*</span></label>
                                <textarea col="30" row="30" formControlName="address" id="demo"></textarea>
                                   
                              
                            </p>
                            <p class="text-danger"
                            *ngIf="registerForm.controls['address'].touched && registerForm.controls['address'].errors?.['maxLength']">
                            طول کلمه خیلی زیاد است
                        </p>
                        <p class="text-danger"
                            *ngIf="registerForm.controls['address'].touched && registerForm.controls['address'].errors?.['required']">
                           لطفا فیلد را پر کنید
                        </p>


                            <p>
                                <button class="btn btn-primary bold" type="submit" tabindex="5" id="submit" [disabled]="registerForm.invalid">ارسال
                                    ارسال</button>
                            </p>
                        </form>
                    </section>

                    <hr />



                </section> <!-- /main content -->


            </div>
        </div>


    </div> <!-- /container -->







